<% unless event_summary.body.blank? %>
  <div class="event-summary flex flex-column justify-start txt-tight-lines">
    <strong><%= local_datetime_tag event_summary.created_at, style: :shortdate %></strong>
    <div class="flex flex-wrap" data-controller="event-summary">
      <%= event_summary.body %>
    </div>
  </div>
<% end %>
