.comments {
  --avatar-size: 2.33em;
  --comment-padding-block: 0.33lh;
  --comment-padding-inline: 2ch;

  display: flex;
  font-size: 1.33cqi;
  gap: var(--comment-padding-block);
  inline-size: 100%;
  max-inline-size: 60cqi;

  @media (max-width: 70ch) {
    max-inline-size: 100%;
  }
}

.comments__column {
  display: flex;
  flex-direction: column;
  flex: 4 1 80%;
  gap: var(--comment-padding-block);
}

.events__column {
  display: flex;
  flex-direction: column;
  flex: 1 0 20%;
  gap: 1lh;
}

.comment {
  margin-block: calc(var(--comment-padding-block) * 0.3);
  margin-inline: 0 auto;
  position: relative;
}

.comment--new,
.comment--edit {
  house-md-toolbar {
    border-block-end: 1px solid var(--color-subtle-dark);
  }
  
  house-md {
    border-block: 1px solid var(--color-subtle-dark);
    border-radius: 0;
  }
}

.comment__avatar {
  margin-block-start: calc(var(--comment-padding-block) * 0.5);
  margin-inline: auto calc(var(--comment-padding-inline) * -0.75);
  z-index: 0;

  .comment--mine_ & {
    margin-inline: calc(var(--comment-padding-inline) * -0.75) auto;
  }
}

.comment__edit {
  display: none;

  .comment--mine & {
    display: grid;
  }
}

.comment__body {
  p {
    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }
}

.comment__content {
  margin-inline: auto 0 auto var(--avatar-size);
  max-inline-size: 100%;
  padding: var(--comment-padding-block) var(--comment-padding-inline);
  
  .comment--mine_ & {
    margin-inline: var(--avatar-size) auto;
  }
}

.comment__input {
  --input-border-size: 0;
  --input-padding: 0;

  line-height: inherit;
  min-block-size: calc(9lh + (2 * var(--comment-padding-block)));
  min-inline-size: 100%;

  @supports (field-sizing: content) {
    field-sizing: content;
    min-block-size: calc(9lh + (2 * var(--comment-padding-block)));
  }
}

.comment--mine_ {
  flex-direction: row-reverse;
  margin-inline: auto 0;

  .comment__author {
    flex-direction: row-reverse;
  }
}

.comment__author {
  border-block-end: 1px solid var(--color-subtle-dark);
  margin-block-end: 0.3lh;
}

.comment__timestamp {
  color: var(--color-subtle-dark);
}

.event-summary {
  color: var(--bubble-color);
  font-size: 0.8em;
  font-weight: 500;
  gap: 0.5ch;
  opacity: 0.7;
  text-align: start;
}
